<!doctype html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="color-scheme" content="light" />
    <link rel="icon" href="/docs/assets/logo.svg" type="image/svg+xml" />
    <link rel="stylesheet" href="https://app.autodeskforma.eu/design-system/v2/forma/styles/base.css" />
    <script type="module" src="https://app.autodeskforma.eu/design-system/v2/weave/components/tab/weave-tab.js"></script>
    <script type="module" src="https://app.autodeskforma.eu/design-system/v2/weave/components/button/weave-button.js"></script>
    <script type="module" src="https://app.autodeskforma.eu/design-system/v2/weave/components/dropdown/weave-select.js"></script>
    <script type="module" src="https://app.autodeskforma.eu/design-system/v2/weave/components/banner/weave-banner.js"></script>
    <title>__DISPLAY_NAME__</title>
  </head>
  <body>
    <main aria-label="__DISPLAY_NAME__"></main>
    <script type="module" src="/src/main.ts"></script>
  </body>
</html>
